<div class="container">
  <h1>Edit building</h1>
  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputName">Name:</label>
      <div class="controls">
	<input type="text" id="inputName" ng-model="building.name"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDescription">Description:</label>
      <div class="controls">
	<input type="text" id="inputDescription" ng-model="building.description"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputNotes">Notes:</label>
      <div class="controls">
	<textarea id="inputNotes" ng-model="building.notes"/></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
	<a ng-click="cancel()" class="btn btn-small">cancel</a>
	<a ng-click="save()" class="btn btn-small btn-primary">Save</a>
      </div>
    </div>
    </form>
</div><!-- container -->
